body {
	background-image:url(code1.jpg);
	background-size: 90% 90%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}
button{
	background-color: black;
	color:white;
	font-weight: bold;
	font-size: 70%;
}
#result {
	font-size: 300%;
	font-variant: small-caps;
	text-shadow: 0 0 3px #ff0000;
}
option {
	font-family: serif;
	font-weight: bold;
}
#content {
	font-size:200%;
	font-variant: small-caps;
	text-shadow: 0 0 3px #00FF00;
}
p {
	text-align: center;
	font-size: 200%;
	font-family: initial;
}
select {
	font-size:150%;
}
h1 {
	text-align: center;
	font-size: 300%;
	text-shadow: 2px 2px 8px #333333;
	lighting-color: green;
}
